.btn-filters-gray {
    background-color: #c5c5c5 !important;
    font-weight: bold !important;
    width: 100px;
}

.btn-filter-selected {
    background-color: #bb3232 !important;
    color: white !important;
}