@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Italiana&display=swap');
@import url('styles/_variaveis.css');

* {
    font-family: var(--font-personalized), serif;
    margin: 0px;
}

.menu {
    background-color: #f1f1f1cb;
}

.apresentation {
    background-image: url('assets/apresentation-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.apresentation-text {
    color: #ffffff;
    font-weight: normal;
    width: 40%;
}